
@{
    Layout = null;
}
@model WebApplication18.Entities.Login

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LOGIN DÜZENLE</title>
</head>
<body>
    <div style="margin-left:700px"><h1>LOGIN DUZENLEME SAYFASI</h1></div>
   
    @using (Html.BeginForm("Edit", "Login", FormMethod.Post))
    {
        <div style="margin-left:700px">
    <table>
        <tr>
            <td>Ad</td>
            <td>
                @Html.TextBoxFor(a => a.Ad)
            </td>
        </tr>




        <tr>
            <td>Soyad</td>
            <td>
                @Html.TextBoxFor(a => a.Soyad)
            </td>
        </tr>




        <tr>
            <td>Sifre</td>
            <td>
                @Html.PasswordFor(a => a.Sifre)
            </td>
        </tr>


        


        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Düzenle" />
                @Html.HiddenFor(a => a.Id)
            </td>
            </tr>
        </table>
        </div>


        }
    <div style="margin-left:500px">
        <img src="~/resimler/editlogin.jpg"/>
    </div>




</body>
</html>
