
@{
    Layout = null;
}
@model WebApplication18.Entities.Maas

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MAAŞ DÜZENLE</title>
</head>
<body>
   <div style="margin-left:700px"><h1>MAAŞ DÜZENLEME SAYFASI</h1></div>
    @using (Html.BeginForm("Edit", "Maas", FormMethod.Post))
    {
        <div style="margin-left:700px">
    <table>
        <tr>
            <td>ÇALIŞAN_id</td>
            <td>
                @Html.TextBoxFor(a => a.Calisanid)
            </td>
        </tr>




        <tr>
            <td>ÇALIŞAN_maaş</td>
            <td>
                @Html.TextBoxFor(a => a.Calisanmaas)
            </td>
        </tr>




       

       


        <tr>
            <td>&nbsp;</td>
            <td>
                <input type="submit" value="Güncelle" />
                @Html.HiddenFor(a => a.Id)
            </td>
            </tr>
        </table>
            </div>


        }
    




</body>
</html>
